.u-plus-01 {
  position: relative;
  width: 850px;
  margin: 50px auto 0;
}
.u-plus-01 img {
  display: block;
  width: 100%;
}
.u-plus-01 h4 {
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 32px;
  letter-spacing: 4px;
  color: #f18a00;
}
.u-plus-01 h4 span {
  color: #333;
}
.u-plus-02 {
  text-align: center;
}
.u-plus-02 a {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #FECE2E;
  font-size: 24px;
  font-weight: 600;
  margin: 0 20px;
}
.u-plus-02 a.z-on {
  background: transparent url('https://d.giraffe.com.cn/www/imgs/plus-02.png') no-repeat 50% 50%;
  background-size: 200px;
  color: #fff;
}
.u-plus-03 {
  width: 850px;
  margin: 0 auto;
  display: none;
  padding-bottom: 80px;
}
.u-plus-03 td {
  width: 50%;
  padding-top: 80px;
  font-size: 18px;
  color: #000;
  line-height: 25px;
}
.u-plus-03 td img {
  display: block;
  width: 100%;
  max-width: 369px;
  margin: 0 auto;
}
.u-plus-03 td b {
  font-size: 20px;
  color: #F18A01;
  display: block;
  margin-bottom: 10px;
}
.u-plus-04 {
  padding: 80px 0;
  background-color: #fef6ee;
}
.u-plus-04 img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.u-plus-05 {
  padding: 80px 0;
}
.u-plus-05 img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
